
html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: lightblue;
}

#top-level-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    width: 100vw;
}

#frm_prompt{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 3px lightgray;
    padding: 30px;
}
#txtprompt{
    height: 30vh;
    background-color:  #fafafa ;
    font-size: 18px;
    min-width: 180px;
    width: 50vw;
}
#btn_submit{
    background-color: lightblue;
    color: black;
    letter-spacing: 0.3em;
    min-width: 180px;
    margin-top: 10px;
    width: 8vw;
}

#model_wrapper{
    display: flex;
    flex-direction: column;
}
#model_wrapper > * {
    margin-top: 20px;
}
#model_wrapper select {
    border: none;
    box-shadow: 1px 2px 2px grey;
    font-size: 16px;
    letter-spacing: 0.1em;
    width: 50vw;
}
#btn_submit:hover {
    background-color: #67B7D1;
    cursor: pointer;
}
#model_wrapper select, #btn_submit{
    border-radius: 10px;
    height: 6vh;
    min-width: 180px;
    text-align: center;
}
#response_container article{
    display: flex;
    background-color: #67B7D1;
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    width: 50vw;
}
