
html{
    background-color: li;
    font-family: 'Roboto', sans-serif;
}

#top-level-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    width: 100vw;
}

#frm_prompt{
    display: flex;
    flex-direction: column;
}
#txtprompt{
    height: 30vh;
    font-size: 18px;
    width: 50vw;
}
#btn_submit{
    align-self: flex-end;
    background-color:lightblue;
    border-radius: 10px;
    color: black;
    height: 6vh;
    letter-spacing: 0.3em;
    min-width: 100px;
    margin-top: 10px;
    width: 8vw;
}
#btn_submit:hover{
    cursor: pointer;
    font-style: italic;
}
#model_wrapper{
    display: flex;
    flex-direction: column;
}
#model_wrapper > * {
    margin-top: 20px;
}
#model_wrapper select {
    height: 5vh;
    font-size: 16px;
    letter-spacing: 0.1em;
    min-width: 150px;
    text-align: center;
    width: 15vw;
}
#response_container article{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 50vw;
}
